<div class="span4" style="margin-bottom:20px">
	<h3 style="border-bottom: 1px solid white;padding-left: 20px;">还没有帐号？</h3>
	<ul style="padding-left: 20px;">
			<%- if controller_name != 'sessions' %>
			  <li><%= link_to "登录", new_session_path(resource_name) %></li>
			<% end -%>

			<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
			  <li><%= link_to "注册", new_registration_path(resource_name) %></li>
			<% end -%>

			<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
			  <li><%= link_to "忘记了密码?", new_password_path(resource_name) %></li>
			<% end -%>

			<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
			  <li><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></li>
			<% end -%>

			<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
			  <li><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></li>
			<% end -%>
	</ul>
</div>

<div class="span4">
	<h3 style="border-bottom: 1px solid white;padding-left: 20px;">用其他平台的帐号登录</h3>
  <ul style="padding-left: 20px;">
    <!-- <li><a href="/auth/weibo">
    	新浪微博
    </a> </li> -->
		<%- if devise_mapping.omniauthable? %>
		  <%- resource_class.omniauth_providers.each do |provider| %>
		    <li><%= link_to "#{provider.to_s.titleize} 登录", omniauth_authorize_path(resource_name, provider) %></li>
		  <% end -%>
		<% end -%>
  </ul>
</div>