<div class="row show-grid">
	<div class="span12">
		<h6 class="span1 pull-left">用户登录</h6>
	</div>
</div>
<div class="row show-grid">
  <div class="span8">
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
		  <%= devise_error_messages! %>
			<%= f.hidden_field :reset_password_token %>
			<fieldset>
				<legend>
					修改你的密码
				</legend>
				<div class="control-group">
		      <label class="control-label" for="input01"><%= f.label :password, "新密码" %></label>
		      <div class="controls">
		        <%= f.password_field :password %>
		        <!-- <p class="help-block">Supporting help text</p> -->
		      </div>
		    </div>	
				<div class="control-group">
		      <label class="control-label" for="input01"><%= f.label :password_confirmation, "确认新密码" %></label>
		      <div class="controls">
		        <%= f.password_field :password_confirmation %>
		        <!-- <p class="help-block">Supporting help text</p> -->
		      </div>
		    </div>

				<div class="form-actions">
           <button type="submit" class="btn btn-primary">
           	修改密码
           </button>
           <button class="btn">
           	取消
           </button>
         </div>
				<%#= f.submit "登录" %>
			</fieldset>
		<% end %>
	</div>
  <%= render :partial => "devise/shared/links" %>
</div>